<%= form_with(url: trips_path, method: :get, local: true) do %>
  <%= text_field_tag(:q, params[:q]) %>
<% end %>

<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.destination %></li>
  <% end %>
</ul>
