<%= form_with(url: open_trips_path, method: :get, local: true) do %>
  <%= text_field_tag(:q, params[:q]) %>
<% end %>

<ul>
  <% @trips.each do |trip| %>
    <li>
      <%= trip.destination %>
      <%= link_to 'Book Now', trip_booking_path(trip), method: :post %>
    </li>
  <% end %>
</ul>
