<div class='container'>
  <% if signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
  <% end %>

  <%= content_tag :div, id: 'open_trip_panel', open_trips: @open_trips.to_json do %>
  <% end %>

  <%= javascript_pack_tag 'traveler/open_trip' %>
</div>
